<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Dynamic App Icon</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>dynamic_app_icon_example</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>cat</key>
			<dict><key>CFBundleIconFiles</key><array><string>cat</string></array><key>UIPrerenderedIcon</key><false/></dict>
			<key>dog</key>
			<dict><key>CFBundleIconFiles</key><array><string>dog</string></array><key>UIPrerenderedIcon</key><false/></dict>
			<key>fox</key>
			<dict><key>CFBundleIconFiles</key><array><string>fox</string></array><key>UIPrerenderedIcon</key><false/></dict>
			<key>panda</key>
			<dict><key>CFBundleIconFiles</key><array><string>panda</string></array><key>UIPrerenderedIcon</key><false/></dict>
			<key>rocket</key>
			<dict><key>CFBundleIconFiles</key><array><string>rocket</string></array><key>UIPrerenderedIcon</key><false/></dict>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>cat</key>
			<dict><key>CFBundleIconFiles</key><array><string>cat</string></array><key>UIPrerenderedIcon</key><false/></dict>
			<key>dog</key>
			<dict><key>CFBundleIconFiles</key><array><string>dog</string></array><key>UIPrerenderedIcon</key><false/></dict>
			<key>fox</key>
			<dict><key>CFBundleIconFiles</key><array><string>fox</string></array><key>UIPrerenderedIcon</key><false/></dict>
			<key>panda</key>
			<dict><key>CFBundleIconFiles</key><array><string>panda</string></array><key>UIPrerenderedIcon</key><false/></dict>
			<key>rocket</key>
			<dict><key>CFBundleIconFiles</key><array><string>rocket</string></array><key>UIPrerenderedIcon</key><false/></dict>
		</dict>
	</dict>
	<!-- dynamic_app_icon:inject:start -->
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>dog</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>dog-2x</string>
					<string>dog-3x</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>dark_icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>dark_icon-2x</string>
					<string>dark_icon-3x</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>panda</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>panda-2x</string>
					<string>panda-3x</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>cat</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>cat-2x</string>
					<string>cat-3x</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>rocket</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>rocket-2x</string>
					<string>rocket-3x</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>festive_icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>festive_icon-2x</string>
					<string>festive_icon-3x</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>fox</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>fox-2x</string>
					<string>fox-3x</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>dog</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>dog-ipad</string>
					<string>dog-ipad-2x</string>
					<string>dog-ipad-pro</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>dark_icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>dark_icon-ipad</string>
					<string>dark_icon-ipad-2x</string>
					<string>dark_icon-ipad-pro</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>panda</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>panda-ipad</string>
					<string>panda-ipad-2x</string>
					<string>panda-ipad-pro</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>cat</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>cat-ipad</string>
					<string>cat-ipad-2x</string>
					<string>cat-ipad-pro</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>rocket</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>rocket-ipad</string>
					<string>rocket-ipad-2x</string>
					<string>rocket-ipad-pro</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>festive_icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>festive_icon-ipad</string>
					<string>festive_icon-ipad-2x</string>
					<string>festive_icon-ipad-pro</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>fox</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>fox-ipad</string>
					<string>fox-ipad-2x</string>
					<string>fox-ipad-pro</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<!-- dynamic_app_icon:inject:end -->
</dict>
</plist>
